div {
  border: 1px solid rgba(172, 247, 255, 0.00);
}
.navbar {
  margin-bottom: 0;
  font-weight: bold;
  color: #a991E8;
  text-align: center;
  background-color: #a991E8; /* Old browsers */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a991E8), to(#8976BB));
  background-image: -webkit-linear-gradient(top, #A891E8 0%, #8976BB 100%);
  background-image:      -o-linear-gradient(top, #a991E8 0%, #8976BB 100%);
  background-image:         linear-gradient(to bottom, #a991E8 0%,#8976BB 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a991E8', endColorstr='#8976BB',GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x; /* Repeat the gradient */
  border-bottom: 1px rgba(213, 213, 213, 0.00);
}
.navbar-collapse {
  border: 1px rgba(172, 247, 255, 0.00);
}
username {
  background-color: #A2E981;
}
body {
  background-color: rgba(128, 128, 128, 0.62);
  padding-top: 70px;
  padding-bottom: 30px;

}
.navbar .container {
  width: auto;
}
.image-list {
  display: inline-block;
}
.modal-body {
  background-color: #00b3b3;
  border-radius: 4px;
}
.topfive-entry-image {
  width: 125px;
  height: 125px;
}
.thumbnail {
  background-color: #00b3b3;
  width: 200px;
  height: 200px;
  border: none;

}
.img-circle {
  width: 50px;
  height: 50px;
}
#map {
  height: 500px;
}
.btn-primary {
  background-color: #A2E891;
}
.btn-success {
  background-color: #ACF7FF;
}
.btn-danger {
  background-color: #FFB4BB
}
/* Optional: Makes the sample page fill the window. 
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
*/