<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header"> <!--header icon Place -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" id="picognito" >Picognito</a>
    </div> <!--/end header -->
    <div id="navbar" class="navbar-collapse collapse" > <!--main nav bar -->
      <div class="nav navbar-nav">
        <!-- <search />       -->
      </div>
      <div class="navbar-right">
        <postimage
        location="$ctrl.location"
        get="$ctrl.getAndSortImages"
       />
     </div>

    </div><!--/.nav-collapse -->
  </div>
</nav> <!--/end of Navbar contains search and userinfo modules -->

<div class="container-fluid" role="main"> <!--main body grid start -->
  <div class="col-xs-8" >
      
    <div class="row" >

    </div>
    <div class="row">
      <img

        ng-click="$ctrl.openLightboxModal($index)"
        ng-repeat="image in $ctrl.images | limitTo:30"
        ng-src={{image.imageUrl}}
        class="col-xs-3 img-rounded"
        style="margin: 5px; height: 250px; width: 300px;" 
      />
    </div>
  </div>

  <div class="col-xs-4 list-group" id="uploadAndMap">
    <div class="list-group-item" style="background-color: rgba(255,255,255,0.7);">
  <!-- <div class="list-group"> -->
    <div class="row ">
      <heatmap
        location="$ctrl.location" 
      />
     </div>
    <div id="topImages" style="font-family: 'Helvetica Neue' ,Helvetica,Arial,sans-serif;"> 
      Top Images
      <div
        ng-repeat="top5img in $ctrl.topfiveimages | limitTo:5"
        class="row"
      >
        <img
          ng-click="$ctrl.openLightboxModal($index)"
          ng-src={{top5img.imageUrl}}
          style="height: 150px; width: 200px;"
          class="topFive"
        />
        <div>{{top5img.likeCount}}
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        </div>
      </div>
    </div>
  </div>
  </div>
<!-- </div> -->
</div> <!--/ Main container ends-->
<!-- <yourmostliked /> -->
