<div>
  <img 
    class="img-responsive center-block"
    ng-src={{$ctrl.image.imageUrl}}
    ng-model="showComments"
    ng-click="$ctrl.showCommentsFunc()"
  >
  <br>
  <form class="form-inline">
    <button 
      type="button" 
      class="btn btn-success" 
      aria-label="Thumbs Up" 
      ng-click="$ctrl.handleLikeClick($ctrl.image.likeCount)"
    >
        {{$ctrl.image.likeCount}}
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
    </button>
    <button 
      type="button" 
      class="btn btn-danger" 
      aria-label="Thumbs Down" 
      ng-click="$ctrl.handleDislikeClick($ctrl.image.dislikeCount)"
      >
        {{$ctrl.image.dislikeCount}}
        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
    </button>
    <input 
      type="text"
      class="form-control"
      ng-model="$ctrl.comment"
      placeholder="Write a comment..."
    >
    <button
      type="submit"
      class="btn btn-primary"
      ng-click="$ctrl.handleCommentSubmit($crtl.comment)"
    >
      Submit
    </button>

  </form>
  <p
    ng-repeat="comment in $ctrl.image.comments"
    class="commentText"
  >
    {{comment}}
  </p>
</div>
