<div id="username container">
  <img src="https://s-media-cache-ak0.pinimg.com/736x/fa/a8/40/faa8409bd81ab1545120616d51ad287b--smile-adorable-animals.jpg"
  class="img-circle"
  >
</div>

<div>
  <form name="signup" ng-show="true">
    <label>
    Username: 
    <input 
    type="text" 
    name="username" 
    ng-model="$ctrl.user.username" 
    required 
    ng-minlength="5" 
    ng-maxlength="10"
    /></label> 
    <span ng-show="signup.username.$error.minlength || signup.username.$error.maxlength">
    Your username must be at least 5 characters, but not more than 10.
    </span> <br/>
    <label>
    Password: 
    <input 
    type="password" 
    name="password" 
    ng-model="$ctrl.user.password" 
    required 
    ng-minlength="5" 
    ng-maxlength="10"
    /></label> 
    <span ng-show="signup.password.$error.minlength || signup.password.$error.maxlength">
    Your password must be at least 5 characters, but not more than 10.
    </span><br/>
    <button ng-click="$ctrl.sendSignUpDataToDatabase($ctrl.user)">Sign Up!</button>
  </form>
</div>